table{
    color: #fff;
    text-align: center;
    /*border-collapse: collapse ;*/
    font: normal 3em Arial, Helvetica, sans-serif ;

}

tr{
    height: 20% ;
    background-color: #ad84a5;

}

td{
    width: 25%;
    border: 1px solid #a51288;
}

#inputBox{
    background-color: #ddbdd7;
    text-align: right;
    width: 100%;
    font-size: 2em;
    color: #fff;
    border: 0px;
}

#operatorBtn{
    background-color: #978b95;
}

#acBtn{
    background-color: #7c5c73;
}